body{
	font-size: 1.8rem;
}

hr{
	margin-top: 0;
}

ul{
	list-style-type: disc;
}

h4{
	font-family: 'Source Sans Pro', sans-serif;
}

.sidebar{
	text-align: center;
	font-family: adobe-garamond-pro, serif;
	font-size: 1.8rem;
}

.sidebar span{
	display: block;
}

.sidebar a{
	 color: #0b0b0b;
 }

.sidebar a:hover{
	color: #c31;
}

.text{
	font-family: adobe-garamond-pro, serif;
	font-size: 1.8rem
}

.headshot{
	width: 200px;
	border-radius: 50%;
}

.intro{
	font-family: adobe-garamond-pro, serif;
}

p{
	font-family: adobe-garamond-pro, serif;
	font-size: 1.8rem
}

a{
	color: #c31;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

