body {
    font-size: 1.8rem;
}

@font-face {
    font-family: 'futura_ltregular';
    src: url('../fonts/futuralt-webfont.woff2') format('woff2'),
    url('../fonts/futuralt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltbook';
    src: url('../fonts/futuralt-book-webfont.woff2') format('woff2'),
    url('../fonts/futuralt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

hr {
    margin-top: 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

h4{
    font-family: 'futura_ltregular', sans-serif;
}

h5{
    font-family: 'futura_ltbook', sans-serif;
    font-size: 2.0rem;
}

@media (min-width: 550px) {
    h5 {
        font-size: 2.6rem;
    }
}

p {
    font-family: adobe-garamond-pro, serif;
}

a {
    color: #c31;
    text-decoration: none;
}

img {
    max-width: 100%;
}

a:hover {
    color: #11aacc;
}

.sidebar {
    text-align: center;
    font-family: adobe-garamond-pro, serif;
    font-size: 1.8rem;
}

.sidebar span {
    display: block;
}

.sidebar a {
    color: #0b0b0b;
}

.sidebar a:hover {
    color: #c31;
}

.text {
    font-family: adobe-garamond-pro, serif;
}

.headshot {
    width: 200px;
    border-radius: 50%;
}

.intro {
    font-family: adobe-garamond-pro, serif;
}

.pub-image {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pub-image img {
    max-height: 110px;
}

.pub-venue {
    font-style: italic;
}

.pub-authors {
    font-size: 1.6rem;
}

.pub-title {
    font-size: 1.8rem;
    font-family: 'futura_ltregular', sans-serif;
}

.publication {
    padding-bottom: 30px;
}

.fw6 {
    font-weight: 600;
}