body {
    font-size: 1.7rem;
    font-family: adobe-garamond-pro, serif;
}

hr {
    margin-top: 0;
}

ul {
    padding-left:20px;
    list-style-type: disc;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: adobe-garamond-pro, serif;
}

a {
    color: #c31;
    text-decoration: none;
}

img {
    max-width: 100%;
}

a:hover {
    color: #11aacc;
}

.toprow{
    margin-top: 5%;
    margin-bottom: 5%;
}

.sidebar {
    text-align: center;
    font-family: adobe-garamond-pro, serif;
    font-size: 1.8rem;
}

.sidebar span {
    display: block;
}

.sidebar a {
    color: #0b0b0b;
}

.sidebar a:hover {
    color: #c31;
}

.text {
    font-family: adobe-garamond-pro, serif;
}

.headshot {
    width: 200px;
    border-radius: 50%;
}

.intro {
    font-family: adobe-garamond-pro, serif;
    margin-top: 10%;
}

.pub-image {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pub-image img {
    max-height: 110px;
}

.pub-venue {
    font-style: italic;
}

.pub-authors {
    font-size: 1.6rem;
}

.pub-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.publication {
    padding-bottom: 30px;
}

.fw6 {
    font-weight: 600;
}